.header {
  background-color: #3498db;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.link:first-of-type {
  margin-top: 1.5rem; /* 上部のスペースを増やす */
}

.link:hover {
  text-decoration: underline;
}

.title {
  margin: 0;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.formTextarea {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.tab {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 追加 */
}

.tab:hover {
  background-color: #034e76; /* 追加: ホバー時の背景色 */
}

.activeTab {
  background-color: #0d38c2;
}

.tabs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}